body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fefefe;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    background-color: #fefefe;
}

nav a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
}

nav .nav-left a {
    font-size: 1.5em;
    font-weight: 700;
}
nav a:hover{
    text-decoration:  3px underline #12AD2B;
    font-weight: 600;
}

header {
    text-align: center;
    padding: 40px 20px;
    background-color: #fefefe;
    margin: 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    color: #666;
    margin: 10px 0 0;
}

.game-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

.card p {
    color: #666;
    padding: 0 10px 20px;
}

footer {
    background-color: #12AD2B;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
.logo img {
    height: 40px;
}